@tailwind base;
@tailwind components;
@tailwind utilities;

.test-shaddow {
  box-shadow: 0px 5px 24px 11px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0px 5px 24px 11px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 5px 24px 11px rgba(0, 0, 0, 0.09);
}

@layer utilities {
  .masonry {
    height: fit-content;
  }
  .masonry-sm {
    column-gap: 1.5em;
    column-count: 2;
  }
  .masonry-md {
    column-gap: 1.5em;
    column-count: 3;
  }
  .break-inside {
    break-inside: avoid;
  }
  .horizontalScroll {
    overflow-x: scroll;
    display: flex;
    behavior: smooth;
  }
  .horizontalScroll::-webkit-scrollbar {
    display: none;
  }

  .bottom-menu {
    transition: all 0.2s ease-in-out;
  }
  .hide-bottom-menu {
    transform: translateY(100vh);
  }
}
