@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .test-shaddow {
    box-shadow: 0px 5px 24px 11px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0px 5px 24px 11px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 5px 24px 11px rgba(0, 0, 0, 0.09);
  }

  .break-inside {
    break-inside: avoid;
  }
  .horizontalScroll {
    overflow-x: scroll;
    display: flex;
    behavior: smooth;
    min-width: 100%;
  }
  .horizontalScroll::-webkit-scrollbar {
    /* display: none; */
  }
  .hideScroll::-webkit-scrollbar {
    display: none;
  }

  .bottom-menu {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px -5px 24px 11px rgba(0, 0, 0, 0.09);
  }
  .hide-bottom-menu {
    transform: translateY(200%);
    opacity: 0;
  }

  .mySwiper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(300px, 50vh, 60vh);
    /* height: 300px; */
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
  }
  .mySwiper2 .swiper-slide {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mySwiper2 img {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: auto;
    padding: 10px !important;
    object-fit: scale-down;
  }

  .mySwiper .swiper-slide {
    border: 1px solid #dedede;
    border-radius: 5px;
    /* width: fit-content !important; */
    display: flex;
    justify-content: center;
  }
  .mySwiper img {
    height: 100px;
    width: fit-content;
    object-fit: scale-down;
  }

  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .bordinha-cinza {
    border: 1px solid #dedede;
    border-radius: 5px;
  }

  .spacer {
    border-bottom: 1px solid #dedede;
  }

  /* masonry */

  .masonryContainer {
    counter-reset: masonry;
  }
  .masonry {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
    grid-auto-rows: 0;
    width: 97vw;
    padding: 0 5px;

    max-width: 1400px;
  }
  .masonry-sm {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .masonry-lg {
    grid-template-columns: repeat(auto-fill, minmax(19%, 1fr));
  }

  .masonry-item {
    /* background-color: #eee; */
    border-radius: 12px;
    overflow: hidden;
  }
  .masonry-item,
  .masonry-item img {
    position: relative;
  }

  /* masonry fim */
  .img-card {
    filter: brightness(95%);
    transition: all 0.1s ease-in-out;
  }
  .img-card-hover:hover {
    filter: brightness(82%);
    transform: scale(1.05);
  }

  .HCard {
    height: 100%;
  }

  .HCard img {
    min-height: 100%;
    object-fit: fit;
  }

  .background-two-collors {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
  }
  .background-one-collors {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: #de2424; */
    z-index: -1;
  }

  .mintextarea-h {
    min-height: 100px;
    max-height: 300px;
  }

  .bg-p-1 {
    width: 30%;
  }
  .bg-p-2 {
    width: 70%;
  }
  .text-icon-align {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  .text-icon-align-btn {
    background-color: #0bba51;
    margin: 20px 0;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    color: white;
  }
  .text-icon-align-btn:hover {
    background-color: #00db12;
  }

  .logoMapPin {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }

  .contact-icon {
    color: #dedede;
    font-size: 20px;
    font-weight: bold !important;
  }

  .bg-verde-1 {
    background-color: #0bba51;
  }
  .bg-verde-2 {
    background-color: #044734;
    color: white;
  }
  .bg-verde-3 {
    background-color: #00db12;
    color: white;
  }
  .bg-cinza-clarin {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .transition02 {
    transition: all 0.2s ease-in-out;
  }

  .hCard-img {
    height: 100%;
    object-fit: contain;
    width: auto;
  }

  .hCard-container {
    height: 100% !important;
    width: 500px;
    display: flex;
  }
  .img-hcard-hover {
    transition: all 0.1s ease-in-out;
  }
  .img-hcard-hover:hover {
    filter: brightness(82%);
    transform: scale(0.98);
  }

  .v-spacer {
    height: 100%;
    border-right: 1px solid #dedede;
    margin: 0 10px;
  }

  .FooterPosition {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 15px;
  }

  .div1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .smparent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .smdiv1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .smdiv2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .smdiv3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .hcardGridParent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .hCarddiv1 {
    grid-area: 1 / 1 / 3 / 2;
  }
  .hCarddiv2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .hCarddiv3 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .footerContainer {
    margin-top: auto;
  }

  .horizontalScrollContainer {
    /* display: flex; */
    display: inline-flex;
    width: 100%;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    /* height: 20rem; */
  }

  .img-new-hcard {
    /* height: clamp(90%, 100%, 200px); */
    object-fit: contain;
  }

  .new-hcard-container {
    min-width: 250px;
    max-width: 500px;
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
