@tailwind base;
@tailwind components;
@tailwind utilities;

.test-shaddow {
  box-shadow: 0px 5px 24px 11px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0px 5px 24px 11px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 5px 24px 11px rgba(0, 0, 0, 0.09);
}

@layer utilities {
  .masonry {
    height: fit-content;
  }
  .masonry-sm {
    column-gap: 1.5em;
    column-count: 2;
  }
  .masonry-md {
    column-gap: 1.5em;
    column-count: 3;
  }
  .break-inside {
    break-inside: avoid;
  }
  .horizontalScroll {
    overflow-x: scroll;
    display: flex;
    behavior: smooth;
  }
  .horizontalScroll::-webkit-scrollbar {
    display: none;
  }

  .bottom-menu {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px -5px 24px 11px rgba(0, 0, 0, 0.09);
  }
  .hide-bottom-menu {
    transform: translateY(200%);
    opacity: 0;
  }

  .mySwiper2 {
    border-radius: 20px;
    border-color: #e0e0e0;
    border-style: solid;
    border-width: 10px;
    background-color: #de2424;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  .mySwiper2 .swiper-slide {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mySwiper2 img {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: auto;
  }
}
